@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
/* line 3, ../sass/style.sass */
body {
  margin: 0;
  background: linear-gradient(to top, #030303, #131313);
  display: flex;
  font-size: 16px;
  font-family: "Ubuntu";
  max-width: 1920px;
  min-width: 1280px;
  height: 1080px;
  flex-direction: column;
  flex-wrap: wrap;
}

/* line 15, ../sass/style.sass */
div, header, footer {
  display: flex;
}

/* line 18, ../sass/style.sass */
header {
  margin-top: 25px;
  margin-left: 35px;
}

/* line 22, ../sass/style.sass */
.quit {
  color: #fff;
  color: #757575;
  cursor: pointer;
  opacity: 0.8;
}
/* line 27, ../sass/style.sass */
.quit svg {
  fill: #757575;
  width: 21px;
  height: 25px;
}
/* line 31, ../sass/style.sass */
.quit span {
  margin-top: 3px;
  margin-left: 10px;
}
/* line 34, ../sass/style.sass */
.quit:hover {
  opacity: 1;
}

/* line 37, ../sass/style.sass */
.rounds {
  width: 528px;
  height: 389px;
  background: linear-gradient(to top, #1b1b1b, #2c2c2c);
  margin-top: 6px;
  border-radius: 5px;
  margin-right: 6px;
  flex-wrap: wrap;
}
/* line 47, ../sass/style.sass */
.rounds svg {
  margin-top: 9px;
  margin-left: 2px;
  width: 21px;
  height: 25px;
  cursor: pointer;
}

/* line 54, ../sass/style.sass */
.rounds-list {
  margin-top: 15px;
  margin-left: 6px;
  margin-right: 6px;
  flex-direction: column;
  width: 91%;
  color: #ffffff;
  font-size: 13px;
}

/* line 63, ../sass/style.sass */
.rounds-column {
  justify-content: space-around;
  margin-bottom: 9px;
}
/* line 66, ../sass/style.sass */
.rounds-column div {
  width: 0px;
  justify-content: center;
  z-index: 2;
}

/* line 71, ../sass/style.sass */
.rounds-border {
  margin-bottom: 9.5px;
  border-bottom: 1px solid #414141;
  margin-left: 12px;
  margin-right: 14px;
}

/* line 77, ../sass/style.sass */
.rounds-sign {
  position: relative;
}
/* line 79, ../sass/style.sass */
.rounds-sign:before {
  content: "";
  left: -18px;
  top: -5px;
  position: absolute;
  width: 34px;
  height: 22px;
  border: 1px solid #636363;
  border-radius: 8px;
}

/* line 89, ../sass/style.sass */
.rounds-sign-green {
  position: relative;
}
/* line 91, ../sass/style.sass */
.rounds-sign-green:before {
  z-index: -1;
  content: "";
  left: -18px;
  top: -5px;
  position: absolute;
  width: 34px;
  height: 22px;
  border: 1px solid #02ac3e;
  background: #02ac3e;
  border-radius: 8px;
}

/* line 103, ../sass/style.sass */
.rounds-pages {
  color: #7b7b7b;
  margin-left: 22px;
  font-size: 13px;
}
/* line 107, ../sass/style.sass */
.rounds-pages input {
  display: none;
}
/* line 109, ../sass/style.sass */
.rounds-pages label {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid #7b7b7b;
  background: #7b7b7b;
  margin-left: 11px;
  margin-top: 4px;
  cursor: pointer;
}
/* line 118, ../sass/style.sass */
.rounds-pages span {
  margin-right: 19px;
}
/* line 120, ../sass/style.sass */
.rounds-pages input:checked + label {
  background: #ffffff;
  cursor: default;
}

/* line 124, ../sass/style.sass */
.chat {
  width: 387px;
  height: 389px;
  background: linear-gradient(to top, #1b1b1b, #2c2c2c);
  margin-top: 6px;
  border-radius: 5px;
  flex-direction: column;
  margin-right: 6px;
}
/* line 134, ../sass/style.sass */
.chat svg {
  width: 28px;
  margin-top: 4px;
  margin-right: 2px;
}

/* line 139, ../sass/style.sass */
.svg-titles {
  color: #00b33f;
  margin-left: 9px;
  margin-right: 9px;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-bottom: 1px solid #414141;
}
/* line 147, ../sass/style.sass */
.svg-titles span {
  margin-left: 7px;
}
/* line 149, ../sass/style.sass */
.svg-titles svg {
  margin-left: auto;
  cursor: pointer;
}

/* line 153, ../sass/style.sass */
.chat-window {
  font-size: 19px;
  color: #ffffff;
  flex-direction: column;
  margin-left: 17px;
  margin-top: 24px;
  line-height: 120%;
}
/* line 161, ../sass/style.sass */
.chat-window div span:first-of-type {
  color: #00ace4;
}
/* line 163, ../sass/style.sass */
.chat-window div span:last-of-type {
  font-size: 16px;
  margin-left: 30px;
  margin-top: 3px;
}

/* line 168, ../sass/style.sass */
.chat-second-user {
  margin-top: 20px;
}
/* line 170, ../sass/style.sass */
.chat-second-user span:first-of-type {
  color: #fbf064 !important;
}
/* line 172, ../sass/style.sass */
.chat-second-user span:last-of-type {
  margin-left: 21px !important;
}

/* line 175, ../sass/style.sass */
.chat-input {
  margin-top: auto;
  width: 100%;
  height: 42px;
  background: #353535;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 182, ../sass/style.sass */
.chat-input input {
  margin-left: 17px;
  width: 85%;
  background: none;
  border: none;
  outline: none;
  font-size: 19px;
  color: #ffffff;
}
/* line 190, ../sass/style.sass */
.chat-input svg {
  margin-top: 3px;
  margin-left: 4px;
  cursor: pointer;
  fill: #fff;
  opacity: 0.8;
  width: 25px !important;
}
/* line 197, ../sass/style.sass */
.chat-input svg:hover {
  opacity: 1;
}

/* line 200, ../sass/style.sass */
.settings {
  margin-right: 32px;
  margin-top: 6px;
  width: 257px;
  height: 389px;
  background: linear-gradient(to top, #1b1b1b, #2c2c2c);
  border-radius: 5px;
  flex-direction: column;
}
/* line 208, ../sass/style.sass */
.settings svg {
  width: 24px;
}

/* line 211, ../sass/style.sass */
.rounds {
  margin-left: auto;
}
/* line 213, ../sass/style.sass */
.rounds svg {
  fill: #00b33f;
}

/* line 216, ../sass/style.sass */
.settings-titles {
  color: #818181;
  align-items: center;
  font-size: 17px;
  height: 39px;
}
/* line 221, ../sass/style.sass */
.settings-titles input {
  display: none;
}
/* line 223, ../sass/style.sass */
.settings-titles label {
  margin-left: 19px;
  cursor: pointer;
  opacity: 0.8;
}
/* line 227, ../sass/style.sass */
.settings-titles label:hover {
  opacity: 1;
}
/* line 229, ../sass/style.sass */
.settings-titles input:checked + label {
  color: #ffffff;
  cursor: default;
  opacity: 1;
}

/* line 234, ../sass/style.sass */
.settings-options {
  flex-direction: column;
  margin-top: 14px;
  color: #818181;
  font-size: 15px;
}
/* line 239, ../sass/style.sass */
.settings-options input {
  display: none;
}
/* line 241, ../sass/style.sass */
.settings-options label {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid #999999;
  cursor: pointer;
  position: relative;
}
/* line 249, ../sass/style.sass */
.settings-options input:checked + label:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border: 1px solid #ffffff;
  background: #ffffff;
  border-radius: 50%;
  left: 25%;
  top: 25%;
}
/* line 259, ../sass/style.sass */
.settings-options div {
  color: #ffffff;
  font-size: 13px;
  margin-bottom: 19px;
  margin-left: 22px;
}
/* line 264, ../sass/style.sass */
.settings-options div span {
  margin-top: 2px;
  margin-left: 7px;
}

/* line 268, ../sass/style.sass */
.background-music {
  margin-bottom: 22px;
  margin-left: 19px;
  margin-top: 3px;
}

/* line 273, ../sass/style.sass */
.image-border {
  max-width: 1920px;
  min-width: 1280px;
  height: 209px;
  background-image: url(/images/border.png);
  background-repeat: no-repeat;
  background-position: -8px;
  margin-top: 25px;
}

/* line 282, ../sass/style.sass */
.balance {
  width: 455px;
  height: 189px;
  background: #181818;
  border-radius: 5px;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 91px;
}

/* line 291, ../sass/style.sass */
.balance-header {
  border-bottom: 1px solid #313131;
  color: #797979;
  margin-right: 8px;
  margin-left: 12px;
  height: 36px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
/* line 300, ../sass/style.sass */
.balance-header svg {
  fill: #747474;
  margin-left: auto;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  cursor: pointer;
}
/* line 307, ../sass/style.sass */
.balance-header span {
  margin-left: 5px;
}

/* line 310, ../sass/style.sass */
.balance-input {
  width: 422px;
  height: 56px;
  background: #323232;
  border-radius: 4px;
  margin-top: 18px;
  margin-left: 16px;
}
/* line 317, ../sass/style.sass */
.balance-input input {
  margin-left: 17px;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 23px;
}

/* line 327, ../sass/style.sass */
.balance-footer {
  margin-top: 17px;
  margin-left: 16px;
}
/* line 330, ../sass/style.sass */
.balance-footer div {
  width: 156px;
  height: 42px;
  border: 1px solid #00682c;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  color: #00b33f;
  font-size: 21px;
  cursor: pointer;
  opacity: 0.8;
}
/* line 341, ../sass/style.sass */
.balance-footer div:hover {
  opacity: 1;
}

/* line 344, ../sass/style.sass */
.balance-not {
  margin-left: 31px;
  margin-top: 13px;
  color: #ffffff;
  font-size: 15.5px;
}

/* line 350, ../sass/style.sass */
footer {
  margin-top: 7px;
  border-top: 9px solid #ffffff;
}

/* line 354, ../sass/style.sass */
.footer-dollar {
  width: 42px;
  height: 42px;
  border: 1px solid #00892f;
  border-radius: 15px;
  color: #00b33f;
  justify-content: center;
  align-items: center;
  margin-top: 43px;
  margin-left: 36px;
  font-size: 25px;
  cursor: pointer;
}

/* line 367, ../sass/style.sass */
.footer-info {
  margin-top: 30px;
  margin-left: 28px;
  width: 415px;
  height: 68px;
  background: linear-gradient(to top, #131313, #1f1f1f);
  border-radius: 4px;
}

/* line 375, ../sass/style.sass */
.footer-info-content {
  flex-direction: column;
  margin-top: 8px;
  margin-left: 11px;
  margin-right: 26px;
}
/* line 380, ../sass/style.sass */
.footer-info-content span:first-of-type {
  font-size: 15.5px;
  color: #7a7a7a;
  margin-bottom: 5px;
}
/* line 384, ../sass/style.sass */
.footer-info-content span:last-of-type {
  font-size: 22px;
  color: #ffffff;
}

/* line 388, ../sass/style.sass */
.footer-info-border {
  border-left: 1px solid #323232;
  height: 36px;
  margin-top: 16px;
  margin-right: 7.5px;
}

/* line 394, ../sass/style.sass */
.footer-mini-button {
  border-radius: 50%;
  border: 1px solid #848484;
  width: 42px;
  height: 42px;
  margin-top: 42px;
  margin-left: 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* line 404, ../sass/style.sass */
.footer-mini-button svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

/* line 410, ../sass/style.sass */
.footer-mini-button:last-of-type {
  margin-left: 0px;
}
/* line 412, ../sass/style.sass */
.footer-mini-button:last-of-type svg {
  fill: #be0028;
  margin-left: 0px;
  width: 22px;
  height: 22px;
}

/* line 418, ../sass/style.sass */
.footer-chips {
  width: 685px;
  height: 103px;
  border-radius: 36px;
  margin-top: 13px;
  margin-left: 24px;
  box-shadow: inset 0px -40px 20px -30px #121212;
  margin-right: 44px;
}
/* line 426, ../sass/style.sass */
.footer-chips img {
  width: 80px;
  height: 80px;
  margin-left: 8px;
  margin-right: 9px;
  margin-top: 11px;
}

/* line 433, ../sass/style.sass */
.footer-button {
  border: 1px solid #848484;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #ffffff;
  height: 42px;
  padding-left: 20px;
  padding-right: 27px;
  margin-top: 41px;
  margin-right: 23px;
  cursor: pointer;
}

/* line 447, ../sass/style.sass */
.footer-sound {
  margin-left: auto;
  width: 30px;
  height: 30px;
  margin-right: 47px;
  margin-top: 50px;
  cursor: pointer;
}
